body{
    height: 100%;
    width: 100%;
    margin: 0,0,0,0;
    background-color: cadetblue;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#consola{
    position: relative;
    background-color: goldenrod;
    width: 48vw;
    height: 37vh;
    border-radius: 10px;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    border: #b30909 15px outset;
   
}
   
   

#bordepantalla{
    background-color: goldenrod;
    width: 46%;
    height: 83%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: #b39809 15px outset;

   
}

#pantalla{
    background-color: black;
    width: 92%;
    height: 75%;
    border: red 7px groove;
    border-radius: 13px;
    
}