body{
    height: 100%;
    width: 100%;
    margin: 0,0,0,0;
    background-image: url(/images/27737.jpg)
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28vh;
    
    
}

#consola{
    position: relative;
    background-image: url(/images/textura\ consola.png);
    background-size: 513px;
    width: 39vw;
    height: 39vh;
    border-radius: 10px;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    border: #b30909 15px outset;


   
}
   
   

#bordepantalla{
    background-color: goldenrod;
    width: 45%;
    height: 83%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: #B39874 15px outset;
    background-image: url(/images/textura\ consola.png);

   
}

#pantalla{
    background-color: black;
    width: 92%;
    height: 75%;
    border:#b30909 9px groove;
    border-radius: 13px;
    /* background-image: url(/images/pantallafondo.png); */
    background-position: center center;
    background-size: 289px;
    background-image: url(/images/gif.gif);

}
    
    
#pegatina1{
    background-color: green;
    width:50px;
    height: 50px;
}

.izquierda{
    width: 27.5%;
    height: 100%;
    
}

.derecha{
    width: 27.5%;
    height: 100%;
    
}

.pegatina{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.cruceta{
    width: 100%;
    height: 50%;
  
}

.pequenos{
    width: 100%;
    height: 50%;
  
}

.botonayb{
    width: 100%;
    height: 50%;
   
}
#pegatina{
    border: black 1px solid;
    border-radius: 5px;
}

.gif{
    
}

